In [5]:
# Instruções basiconas de sempre.

# Lidar com dataframes.
import numpy as np
import pandas as pd

# Lidar com gráficos.
import matplotlib.pyplot as plt
import seaborn as sns
from plotting import (multiple_histograms_plot,
                      bar_plot_with_categorical,
                      plot_confusion_matrix,
                      plot_confusion_matrix_2,
                      plot_roc)

# Lidar com preparação de dados.
from data_prep import data_prep as dp # Eu que fiz esse modulinho ("uuuuuuuuuma bosts!").
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import (StandardScaler
                                   , MinMaxScaler)

from sklearn.linear_model import (LinearRegression, Ridge, Lasso, ElasticNet)

from sklearn.model_selection import (train_test_split
                                     , cross_val_score
                                     , StratifiedKFold
                                     , cross_validate)

# Lidar com validação de modelos.
from sklearn.metrics import (confusion_matrix
                             , accuracy_score
                             , classification_report)

pd.set_option('display.max_columns', None)  
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', 500)

In [6]:
nomeDaBase = "./data/regressao_Q1.csv"
df = pd.read_csv(nomeDaBase, encoding="utf-8")

df.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,target
0,-0.97127,-0.56128,1.20414,2.25145,-0.25802,0.06246,-1.78623,-0.27690,-0.22255,0.20963,-0.062202
1,0.89456,-0.94099,-0.19972,-0.08354,-0.96865,0.62801,0.91543,0.20413,-0.13587,0.96820,0.112596
2,-0.98777,-0.55565,-0.94141,-1.86277,0.38659,-0.02523,-1.26714,1.07328,-0.28350,0.34430,0.167633
3,0.03972,-0.99258,0.63481,0.01554,-0.39203,-0.72647,0.46098,0.79395,0.22686,0.25065,-0.844727
4,-1.66022,-0.06734,-0.72252,-1.32035,0.06715,2.39937,-1.30566,-0.65222,0.36628,0.31644,2.221942

In [7]:
x = df.drop("target", axis=1)
y = df["target"]

In [10]:
regressor_elastic = ElasticNet(alpha=1.0
                               , l1_ratio=0.01)

cross = cross_validate(regressor_elastic, x, y, cv=5, scoring="neg_mean_squared_error", return_train_score=True, n_jobs=-1)

# print(cross.keys())

for key in cross.keys():
    print(f"""{key}: {round(-cross[key].mean(), 3)}""")

fit_time: -0.004
score_time: -0.002
test_score: 0.269
train_score: 0.269

In [12]:
cross["train_score"].mean(), cross["test_score"].mean() 
# (-0.2686002837798155, -0.26918574379945676)

(-0.2686002837798155, -0.26918574379945676)